@page "/Pages/ContactUs"
@inject HttpClient http
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

<Message @ref="messageComponent" Heading="Contact Us"  Narrative="@Narrative" MessageText="@MessageText" />

<button @onclick="SubmitRequest">Submit</button>


@code {

    Message messageComponent;

    string Narrative => "Please enter your email address and the details of your enquiry below.";

    public string MessageText { get; set; }

    private async Task SubmitRequest()
    {
        var submitParameters = await messageComponent.GetNameValuePairs();
        submitParameters["Action Id"] = "Contact Us";
        var actionResponse = await ActionRequest.Post(http, configuration["wwwroot"], "/cgi-local/api/api.pl", "Contact Us", submitParameters);
        MessageText = actionResponse.Message;
    }

}
