@page "/"

<h3>Index</h3>

<div >
    <ul>
        <li>
            <NavLink href="Pages/Download">
                Download
            </NavLink>
        </li>
        <li>
            <NavLink href="Pages/ContactUs">
                Contact Us
            </NavLink>
        </li>
        <li>
            <NavLink href="Pages/SupportRequest">
                Support Request
            </NavLink>
        </li>
    </ul>
</div>

@code
{
}
