@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@inject HttpClient http

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    protected override void OnInitialized()
    {
        Configuration.HttpClient = http;
        Configuration.WWWRoot = configuration["wwwroot"];
        Configuration.URL = configuration["url"];
        Configuration.ReCaptchaSiteKey = configuration["reCaptchaSiteKey"];
    }
}
